.webdevContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#title {
    width: 100%;
    text-align: center;
}

.contentContainer {
    display: flex;
    align-items: center;
    margin: 50px 100px 0 100px;
    padding: 20px;
    background-color: whitesmoke;
    gap: 40px;
}

.textContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    flex: 2;
    width: 80%;
}

.textContent h1 {
    text-align: left;
}

.contentContainer img {
    width: 20%;
}

.textContent a {
    color: blue;
    text-decoration: underline;
}

pre {
    background-color: gainsboro;
    margin: 20px;
    padding: 20px;
}


@media screen and (max-width: 768px) {
    .contentContainer {
        margin: 30px;
        flex-direction: column;
    }

    .contentContainer img {
        display: none;
    }
}