footer {
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer a {
    color: white;
}

hr {
    margin: 20px 0;
    width: 85%;
}

#footerTop {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

#footerBottom {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

#legals {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    gap: 20px;
}

@media screen and (max-width: 500px) {
    #footerBottom {
        align-items: center;
    }
    
    #legals {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 5px;
    }
}