nav {
    display: flex;
    justify-content: center;
    gap: 40%;
    margin: 20px;
    width: 100%;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 0 20px;
    font-size: 1.2rem;
}

nav a {
    color: black;
    text-decoration: none;
}

nav button {
    border-radius: 50%;
    padding: 5px;
    background-color: white;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
}

#logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navLinkContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 50px;
    height: 50px;
}

#hamburgerMenu {
    display: none;
    cursor: pointer;
}

.hamburger {
    display: none;
}

.hamburgerMenuItems {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: white;
    list-style: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.hamburgerMenuItems li {
    margin: 4px 0;
}

.hamburgerMenuItems a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.hamburgerMenuItems.open {
    display: flex;
}

@media screen and (max-width: 950px) {
    #navLinkContainer {
        display: none;
    }

    #hamburgerMenu {
        display: block;
        position: absolute;
        top: 40px;
        right: 30px;
    }

    .hamburger {
        display: block;
        width: 35px;
        height: 4px;
        background-color: black;
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .hamburgerMenuItems {
        display: none;
        flex-direction: column;
    }

    .hamburgerMenuItems.open {
        display: flex;
        align-items: center;
    }
}