#sbHamburgerMenu {
    display: block;
    position: absolute;
    top: 100px;
    left: 30px;
}

.sbHamburger {
    display: block;
    width: 35px;
    height: 4px;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 5px;
}

.sbHamburgerMenuItems {
    max-height: 0;
    overflow: hidden;
    display: flex;
    transition: max-height 0.1s linear;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    top: 150px;
    width: 30%;
    background-color: lightgray;
    list-style: none;
    border-radius: 5px;
}

.sbHamburgerMenuItems.open {
    max-height: 500px;
    padding: 15px;
}

.sbHamburgerMenuItems  li {
    margin: 10px 0;
}