#hamburgerMenu {
    display: block;
    position: absolute;
    top: 100px;
    left: 30px;
}

.hamburger {
    display: block;
    width: 35px;
    height: 4px;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 5px;
}

.hamburgerMenuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    top: 150px;
    width: 30%;
    height: 100%;
    background-color: lightgray;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
}